.kot {
  background: #ffffff;
  border-radius: 14px;
  padding: 18px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.12);
  border: 1px solid #e5e7eb;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: 80%;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.kot:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}

/* Header */
.kot-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 12px;
  color: #222;
}

.time-ago {
  font-size: 13px;
  color: #888;
  font-weight: 500;
}